<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>main</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/stylesheets/esperanto.css">
</head>

<body>

<div class="container-fluid">

    <div class="row main-window">

        <div class="col-lg-4 contacts">

            <div id="users-info">
                <p id="title-contacts">CONTACTS</p>
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>

        <div class="col-lg-8 chat-box">
            <div class="row" style="height:80%">
                <div id="board col-lg-12">

                </div>
            </div>
            <div class="row" style="padding:0;">
                <textarea class="col-lg-10" rows="4" cols="50"> </textarea>
                <button></button>
            </div>
        </div>

    </div>

</div>
</body>
</html>