<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login page</title>
</head>
<body>
<form action="">
  <input id="username" type="text" name="name" value="">
  <input id="pass" type="password" name="pass" value="">
  <input type="submit" value="Submit">
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="/js/login.js"></script>

</body>
</html>
